.rstxt-review-bg-animate {
    background: radial-gradient(#ff5c4d .69%, #eb469f 25.52%, #8341ef 72.19%, #3f68f9 100%) border-box;
    background-size: 200% 200%;
    animation: animate2 2s linear infinite;
}

@keyframes animate2 {
    0% {
        background-position: -10% -10%;
    }
    25% {
        background-position: 100% -10%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: -10% 100%;
    }
    100% {
        background-position: -10% -10%;
    }
}
.rstxt-review {
    font-size: 1.5rem;
    position: relative;
    width: 100%;
    border-radius: 10px;
    padding-top: 5px;
}
.rstxt-premium {
    margin: 20px 0;
    font-size: 1.8rem;
    position: relative;
    width: 100%;
    border-radius: 10px;
    padding-top: 5px;
}
.rstxt-review-in {
    background: white;
    border-radius: 10px;
    padding: 25px;
    font-size: 1.8rem;
}
.rstxt-buttons {
    display: flex;
}
.rstxt-buttons a {
    padding: 10px;
    background: #ff9b04;
    margin-right: 10px;
    margin-top: 10px;
    color: white;
    text-decoration: unset;
    border-radius: 5px;
}
.rstxt-review .rstxt-buttons a:last-child {
    background: #9c9c9c;
}
.rstxt-review-mes {
    display: flex;
    align-items: center;
}
.rstxt-review-star {
    fill: #ff9b04;
    margin-right: 10px;
}
.rstxt-review-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-family: cursive;
}
.text-gradient {
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 7px;
    font-weight: bold;
}

.bg-gradient-fiolet {
    background: linear-gradient(135.89deg, #F7E6FB 51.39%, #8672F4 259.12%);
}
.rstxt-premium-in {
    padding: 40px;
    font-size: 2rem;
}
.rstxt-premium .rstxt-buttons a {
    font-size: 2rem;
    padding: 10px;
    background: #f50000;
    margin: 0 20px;
    color: white;
    text-decoration: unset;
    border-radius: 5px;
}

.center-help-youtube-review {
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    background: rgb(242 242 242);
    box-shadow: 0 0 15px -10px;
    border-radius: 5px;
    padding: 2rem;
}
.center-help-youtube {
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    background: #b040270d;
    box-shadow: 0 0 15px -10px;
    border-radius: 5px;
    padding: 2rem;
}
.lds-dual-ring {
    color: #1c4c5b
}
.lds-dual-ring,
.lds-dual-ring:after {
    box-sizing: border-box;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}