@font-face {
  font-family: 'OpenSans';
  src: url('./OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'OpenSans';
  src: url('./OpenSans-Bold.ttf');
  font-weight: bold;
}

html, body {
  margin:0px;
  height: 100%;
  background-color:none;
  background-image:none;
}
#body {
  margin:0px;
  padding:0px;
  width:100%;
  height: 100%;  
  text-align:left;
  position: relative;
}
#test_layer {
  position: 
  z-index: -1; 
  position: absolute;  
}
#content {
  z-index: 100; 
  width:100%;
  height: 100%;  
  position: absolute;  
}
#data {
  width:100%;
  height: 100%;
  position: relative;  
}
#main_blackout {
  width:100%;
  height: 100%;
  background-color:rgb(4,10,25);
  position: absolute;
}
#nfr_warning {
  display: block;
  width: auto;
  height: auto;
  position: absolute;
  text-align: center;
  top: 205px;
  left: 3%;
  background-color: rgb(255,216,58);
}
#nfr_warning.item.hidden {
  visibility: hidden;
}
#nfr_warning_text {
  font-family: 'OpenSans';
  font-style: normal;
  font-size: 13.3px;
  font-weight: bold;
  color: rgb(0,0,0);
  line-height: 36px;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#eco_logo {
  display: block;
  width: auto;
  height: auto;
  position: absolute;
  text-align: center;	
  top: 137px;
  left: 3%;  
}
#eco_logo #eco_logo_text {
  font-family: 'OpenSans';
  font-style: normal;
  font-size: 23.3px;
  font-weight: normal;
  color: rgb(68,144,236);
  line-height: 44px;
  text-decoration: none;
  margin-left: -2px;
}
#object3d_wrapper {
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  background-position: right;
}
#object3d_main_image{
    right: 0px;
    height: 100%;
    position: absolute;
}
#close_wrapper {
  width:32px;	
  height:32px;  
  right:70px;
  top: 65px;
  position: absolute;  
}
#close_wrapper  a { 
  display: block;
  width:32px;	
  height:32px;  
}
#close_wrapper  a .pic {
  width:32px;	
  height:32px; 
  display: block;
  background-repeat: no-repeat;	
  background-image: url(images/close.png);
}
#close_wrapper  a:hover .pic {
  width:32px;	
  height:32px; 	
  display: block;  
  background-repeat: no-repeat;		
  background-image: url(images/close_active.png);
}
.blue {
  background-color:rgb(33,64,100);
}
.green {
  background-color:rgb(38,93,103);	
}
#line1 {
  width:185px;	
  height:2px; 	
  background-color:rgb(38,93,103);
  right:0px;
  top: -webkit-calc(76% + 37px);
  position: absolute;  
}
#line2 {
  width:198px;	
  height:2px; 	
  left:35px;
  bottom: 40px;
  position: absolute; 
  margin-left: 88px;  
}
#logo_wrapper {
  width:200px;	
  height:100px; 	
  left:33px;
  bottom: 56px;
  position: absolute;    
  padding-left: 60px;
}
#logo {
  width: 151px;
  height: 44px;
  margin-left: 18px;
  background-repeat: no-repeat;	  
  background-image: url(images/nanosoft_logo.png);	
}
#copyright {
  margin-top: 7px; 	
  padding-top: 3px;
  padding-left: 30px;
  margin-bottom: 8px;
}
#copyright span {
  font-family:'OpenSans';
  font-weight:400;
  font-style:normal;
  font-size: 9px;
  color:#949494;
  text-decoration: none;	
}
#userinfo {
  height: 16px;
  padding-left: 30px;
}
#userinfo span {
  font-family:'OpenSans';
  font-weight:400;
  font-style:normal;
  font-size: 12px;
  color:#FFFFFF;
  line-height: 15px;
  text-decoration: none;		
}
#companyinfo {
  height: 16px;
  padding-left: 30px;
}
#companyinfo span {
  font-family:'OpenSans';
  font-weight:400;
  font-style:normal;
  font-size: 12px;
  color:#FFFFFF;
  line-height: 15px;
  text-decoration: none;		
}
#line3{
  width:178px;	
  height:2px; 	
  left:0px;
  top: 61px;
  position: absolute;  
}
#line4{
  width:80px;	
  height:2px; 	
  left:301px;
  top: 134px;
  position: absolute;  
}
#line5{
  width:170px;	
  height:2px; 	
  left:295px;
  top: 140px;
  position: absolute;  
}
#line6{
  width:219px;	
  height:2px; 	
  left:165px;
  top: 176px;
  position: absolute;  
}
#line7{
  width:200px;	
  height:2px; 	
  left:110px;
  top: 182px;
  position: absolute;  
}
#progname_wrapper {
  width:400px;	
  height:105px; 	
  left:30px;
  top: 70px;
  position: absolute;  	
}
#progname_part0 {
  padding-left: 9px;
}
#progname_part0 span {
  font-family:'OpenSans';
  font-weight:400;
  font-style:normal;
  font-size: 24px;
  color:#57E0FB;
  line-height: 24px;
  text-decoration: none;		
}
#progname_part1 {
  padding-left: 7px;
}
#progname_part1 span {
  font-family:'OpenSans';
  font-weight:400;
  font-style:normal;
  font-size: 58px;
  color:#57E0FB;
  line-height: 35px;
  text-decoration: none;		
}
#progname_part2 {
  padding-left: 150px;	
}
#progname_part2 span {
  font-family:'OpenSans';
  font-weight:400;
  font-style:normal;
  font-size: 45px;
  color:#57E0FB;
  line-height: 44px;  
  text-decoration: none;		
}
#progname_part2 .blue_text {
  color:#4490EC;
}
